%h1 About


%p
  %br Welcome to Conspiratorium.
  This is Conspiratoirum.
  You can do anything at
  = link_to "Conspiratorium.com", "http://www.zombo.com"
  %br
  Anything at all.
  %br
  The only limit is yourself.
  %br

  %br

%p
  Here I publish mental constructs turned into computer code.

%p
  If you would like to get access to super-awesome ringtones to make all your friends jelous then please send me an email: theendryu@gmail.com
