.container
  .row.quote-row
    .wrapper.col-xs-10.col-sm-10.8-md-8.col-lg-8
      %blockquote.quote
      #quote-button
        %a#twitter_link{:href => "http://twitter.com/intent/tweet?hashtags=quotes&text=blabla"}
          %i.fa.fa-twitter-square.fa-3x{"aria-hidden" => "true"}
        %button#button.btn-sm{:name => "button", :type => "button"} Next Quote
  %footer
