#weather-wrapper
  %h1 Local Weather
  #description
  .temperature-wrapper
    #temperature
    #converter
      = link_to "C", "#", id: "converter-link"
%hr
%p.app-description This simple app will ask to access your geolocation object in browser, read latitude and longitude and your current ISP. It will then contact the weather API and check the weather conditions and temperature in your city.
