%h1 Local weather
#description
#temperature
<%= javascript_tag do %>
  var temperature;
  $.getJSON("https://fcc-weather-api.glitch.me/api/current?lat=52&lon=21", function(json) {
    temperature = json.main.temp;
    $("#temperature").append(temperature);
  });
<% end %>
